--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
protobuf
sentencepiece
django>=5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
requests
pillow
gunicorn
pymysql
whitenoise
